.inputDesign {
  height: 3em;
  width: 18em;

  border: 0.1em solid white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding-left: 1em;
}

.inputDesignError {
  border: 0.2em solid lightseagreen;
}