.homeDesign {

    height: 70vh;
    width: 100vw;

    background-color: lightseagreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle2 {
    width: 10em;
    height: 10em;
    /* border: 0.5em dotted white; */
    border-radius: 50%;
    background-color: lightseagreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text2 {
    font-size: 200%;
    color: white;
}

.logo {
    width: 5em;
    height: 5em;
    color: white;
}

.box-shadow {
    box-shadow: 0 0 2em 2em rgba(255, 255, 255, 0.5);
}