.progressDesign {
    height: 70vh;
    width: 100vw;

    background-color: lightseagreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boxWords2 {
    width: 80vw;
    height: 12em;
    overflow-y: scroll;
    border: 0.1em solid white;
    border-radius: 0.5em;
    color: white;
    background-color: lightseagreen;
}