.headerDesign {

    height: 15vh;
    width: 100vw;

    background-color: lightseagreen;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}