.playDesign {

    height: 70vh;
    padding-bottom: 15vh;
    width: 100vw;

    background-color: lightseagreen;

    overflow-y: hidden;
}

.game {

    height: 85vh;

}

.rowBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 10em;
    height: 10em;
    border: 0.5em dotted white;
    border-radius: 50%;
    background-color: lightseagreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 200%;
    color: black;
}

.text3 {
    font-size: 200%;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.white {
    color: black;
}


.whiteTick {
    color: white;
    font-size: 200%;
}

.whiteCross {
    color: white;
    font-size: 300%;
    margin-bottom: 0.3em;
}

.img {
    width: 5em;
}

.borderPlay3 {
    border: 0.1em solid white;
    border-radius: 1em;
    margin: 1em;
    background-color: orange;
}

.cButtonDesign3:hover {

    cursor: pointer;
    transition: 0.2s;
    background-color: orange;
}