#root {
  max-width: 1280px;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightseagreen;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-y: hidden;
}